<app-toolbar></app-toolbar>
<p>main-page works!</p>
<section>
<h1>A bold, problem-focused headline</h1>
<img>
</section>
<section>
    <mat-card>
        <h2>A description of the benefits of your product</h2>
    </mat-card>
    <mat-card>
        <h2>A description of the benefits of your product</h2>
    </mat-card>
    <mat-card>
        <h2>A description of the benefits of your product</h2>
    </mat-card>
</section>
<section>
    <div>
        <h2>Social proof, customer reviews</h2>
    </div>   
</section>
<section>
    <div>
        <h2>A strong call to action and pricing information</h2>
    </div>
    <div>
        <mat-card>
            
        </mat-card>
    </div>
</section>